<div class="row jumbotron">
  <div class="container">
    <div class="col-md-8">
      <h1>Beautiful, Custom Wedding Websites for any device</h1>
      <p>Visit <%= link_to "mikelovesmindy.com", "http://jaellewedsites.com" %> on your smart phone, tablet, and desktop.</p>
      <%= link_to "Free 14 day Trial", new_user_registration_path, class: "btn btn-primary " %>
      <p class=""><small>No Credit Card required</small></p>
    </div>
    <div class="col-md-4 center">   
      <%= image_tag "jaelle-wedsite-phone.png" %>
    </div>
  </div>
</div>

<div class="container features">
  <section class="row">
    <section class="col-xs-12">
      <h2>Features</h2>

      <div class="row two">
        <div class="col-sm-6 col-md-3">
         <div class="icon" data-icon="&#xe005;" aria-hidden="true">
         </div>
          <p>Looks good on any device. Mobile, tablet, or desktop.
          </p>
        </div>
        <div class="col-sm-6 col-md-3">
        <div class="icon" data-icon="&#xe00b;" aria-hidden="true"></div>
          <p>You can choose your own custom domain name.</p>
        </div>
        <div class="col-sm-6 col-md-3">
        <div class="icon" data-icon="&#xe007;" aria-hidden="true"></div>
          <p>Original and professional responsive designs.</p>
        </div>
        <div class="col-sm-6 col-md-3">
        <div class="icon" data-icon="&#xe004;" aria-hidden="true"></div>
          <p>A picture gallery you'll want to show your friends.</p>
        </div>
      </div>
      

      <div class="row two">
        <div class="col-sm-6 col-md-3">
        <div class="icon" data-icon="&#xe002;" aria-hidden="true"></div>
          <p>Password protect your website (Only you and your guest can login and view your wedding website) Coming soon.</p>
        </div>
        <div class="col-sm-6 col-md-3">
        <div class="icon" data-icon="&#xe006;" aria-hidden="true"></div>
          <p>Family and friends can link directly to your online gift registry from a tablet and mobile device.</p>
        </div>
        <div class="col-sm-6 col-md-3">
        <div class="icon" data-icon="&#xe001;" aria-hidden="true"></div>
          <p>A map of your events for your guests for guest using Google Maps and geolocation.</p>
        </div>
        <div class="col-sm-6 col-md-3">
        <div class="icon" data-icon="&#xe000;" aria-hidden="true"></div>
          <p>Communicate directly with the web designer. If you have any questions, I will make myself available.</p>
        </div>
      </div>
    </section>
  </section>
</div>


<div class="container how-it-works">
  <div class="row two">
    <section class="col-md-6">
      <h2>How it Works</h2>
      <ul class="list-inline two">
        <li><%= link_to "Sign up", "#" %> and login at Jaelle Wedsites</li>
        <li>Choose the design style you want</li>
        <li>Fill out the infromation you want on your wedding website</li>
        
        <li>Submit your form</li>
        <li>Call or email us any special requests</li>
        <li>We build your own custom unique wedding website.</li>
        <li>Choose your payment method (monthly or yearly) after your 14 day trial has ended</li>
      </ul>
      <%= link_to "Sign up Today!", new_user_registration_path, class: "btn btn-primary " %>
    </section>
  </div>
</div>


<div class="container">
  <div class="row two">
    <section class="col-md-12">
      <h2>Latest Designs</h2>
      <div class="col-md-4 box1"></div>
      <div class="col-md-4 box2"></div>
      <div class="col-md-4 box3"></div>
    </section>
  </div>
    <div class="row two">
      <section class="col-md-12">
      <div class="col-md-4 box4"></div>
      <div class="col-md-4 box5"></div>
      <div class="col-md-4 box6"></div>
    </section>
  </div>
</div>





