<div class="container">
	<footer>
		<div class="row">
	      <div class="col-md-12">
			  	<div class="col-md-2">
				  	<h5>Products</h5>
				  	<ul>
				  		<li><%= link_to "Features", features_path %></li>
				  		<li><%= link_to "Pricing", pricing_path %></li>
				  		<li><%= link_to "FAQ", faq_path %></li>
				  	</ul>
			  	</div>
			  	<div class="col-md-2">
				  	<h5>Company</h5>
				  	<ul>
				  		<li><%= link_to "About", about_path %></li>
				  		<li><%= link_to "Blog", blog_path %></li>
				  		<li><%= link_to "Terms", terms_path %></li>
				  	</ul>
			  	</div>
			  	<div class="col-md-2">
				  	<h5>Contact Us</h5>
				  	<ul>
				  		<li><%= link_to "Contact", contact_path %></li>
				  		<li><%= link_to "Help", help_path %></li>
				  	</ul>
			  	</div>
			</div>
		</div>
	</footer>
</div>